﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model DemoChatApi.Controllers.AdminController.AdminSetting

@{
    ViewBag.Title = "管理";
    Layout = "_Layout";
}

<main class="container">
    <h2>管理</h2>

    <h3>設定</h3>
    <form method="post">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">n 回に二回の確率で API が失敗またはタイムアウトする</span>
            </div>
            <input type="number" asp-for="RandomMax" class="form-control" style="text-align: right;"/>
            <div class="input-group-append">
                <button class="btn btn-outline-primary">Save</button>
            </div>
        </div>
    </form>
    <h3>ダウンロード</h3>
    <ul>
        <li>
            <a href="~/udpsender.zip">UDP Sender</a>
        </li>
        <li>
            <a href="~/ChatApp.zip">Chat App</a>
        </li>
    </ul>
</main>
