﻿@{
    Layout = "_Layout";
    ViewBag.Title = "Wireshark tutorial";
}

<section class="jumbotron">
    <h1 class="display-4">Wireshark tutorial</h1>

    <p class="lead">パケットキャプチャツール Wireshark を使って、ネットワークトラフィックを調査する練習。</p>
</section>

<main class="container">
    <section class="row">
        <div class="col-sm-4">
            <article class="card">
                <div class="card-body">
                    <h5 class="card-title">Get Wireshark</h5>
                    <p class="card-text">
                        Wireshark をダウンロードしてインストールします。Download ページから Stable Release、Windows Installer (x64) をダウンロードし、インストールしてください。
                    </p>
                    <p class="card-text">
                        インストールオプションはすべてデフォルトのままインストールしてください。
                    </p>
                    <a href="https://www.wireshark.org/" target="wireshark" class="btn btn-primary">Get Wireshark</a>
                </div>
            </article>
        </div>
        <div class="col-sm-4">
            <article class="card">
                <div class="card-body">
                    <h5 class="card-title">Slide</h5>
                    <p class="card-text">
                        学習で利用するスライドです。
                    </p>
                    <a href="https://docs.google.com/presentation/d/100x1qvCzFYwoe_zz9sKlYt4aS6oBR2Wl05WxgpEkEKo/edit?usp=sharing" target="slide" class="btn btn-primary">Show slide</a>
                </div>
            </article>
        </div>
        <div class="col-sm-4">
            <article class="card">
                <div class="card-body">
                    <h5 class="card-title">Chat App</h5>
                    <p class "card-text">
                        学習で利用するチャットアプリです。
                    </p>
                    <a href="~/ChatApp.zip" target="slide" class="btn btn-primary">Download Chat App</a>
                </div>
            </article>
        </div>
    </section>
</main>
</html>